NodeRed/ant_nodered.json
[
    {
        "id": "281cf02d0b07f8d0",
        "type": "tab",
        "label": "Dashboard ANT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d20f37f3767b2c2a",
        "type": "mqtt in",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "sensor/ph",
        "qos": "2",
        "datatype": "auto",
        "broker": "e9448b41dc166aa0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "893787568ab0eb5b",
                "5747dacaf128ef6c",
                "41d6d3703f7fa0b0"
            ]
        ]
    },
    {
        "id": "893787568ab0eb5b",
        "type": "ui_gauge",
        "z": "281cf02d0b07f8d0",
        "name": "PH Gauge",
        "group": "b53e6eb608e76875",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "PH Gauge",
        "label": "PH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "931dc3c63e1f3899",
        "type": "remote-access",
        "z": "281cf02d0b07f8d0",
        "confignode": "611bbf9ba0fc017a",
        "name": "PH Dashboard",
        "verbose": 0,
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "096ad1252bce6a4c",
        "type": "rpi-gpio out",
        "z": "281cf02d0b07f8d0",
        "d": true,
        "name": "Light Relay",
        "pin": "29",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 290,
        "y": 460,
        "wires": []
    },
    {
        "id": "e7849d64e01455ce",
        "type": "ui_switch",
        "z": "281cf02d0b07f8d0",
        "name": "Light",
        "label": "Grow Light",
        "tooltip": "",
        "group": "b53e6eb608e76875",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 460,
        "wires": [
            [
                "096ad1252bce6a4c"
            ]
        ]
    },
    {
        "id": "e4769a34bc6ab589",
        "type": "mqtt in",
        "z": "281cf02d0b07f8d0",
        "name": "sensor/ec",
        "topic": "sensor/ec",
        "qos": "2",
        "datatype": "auto",
        "broker": "e9448b41dc166aa0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 380,
        "wires": [
            [
                "caf1e6d589ea92b5",
                "146e610e047b87b5",
                "0f8fc8b7aed77244"
            ]
        ]
    },
    {
        "id": "caf1e6d589ea92b5",
        "type": "ui_gauge",
        "z": "281cf02d0b07f8d0",
        "name": "EC Gauge",
        "group": "b53e6eb608e76875",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "EC Gauge",
        "label": "ms",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "a6d29138caf39161",
        "type": "mqtt in",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "automation/pumps",
        "qos": "2",
        "datatype": "auto",
        "broker": "e9448b41dc166aa0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "29d37a449a7d82e5",
                "1b30bbebae7b4b4d"
            ]
        ]
    },
    {
        "id": "29d37a449a7d82e5",
        "type": "debug",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "1b30bbebae7b4b4d",
        "type": "ui_toast",
        "z": "281cf02d0b07f8d0",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 250,
        "y": 600,
        "wires": []
    },
    {
        "id": "5747dacaf128ef6c",
        "type": "debug",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "146e610e047b87b5",
        "type": "debug",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "41d6d3703f7fa0b0",
        "type": "ui_chart",
        "z": "281cf02d0b07f8d0",
        "name": "PH Graph",
        "group": "b53e6eb608e76875",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "PH Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0f8fc8b7aed77244",
        "type": "ui_chart",
        "z": "281cf02d0b07f8d0",
        "name": "EC Graph",
        "group": "b53e6eb608e76875",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "EC Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8d092a68fa381ea1",
        "type": "ui_form",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "label": "",
        "group": "b53e6eb608e76875",
        "order": 13,
        "width": 12,
        "height": 1,
        "options": [
            {
                "label": "Light Start HR",
                "value": "LIGHT START HOUR",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Light End HR",
                "value": "LIGHT END HOUR",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "PH Min",
                "value": "PH MIN",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "PH Max",
                "value": "PH MAX",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "EC Min",
                "value": "EC MIN",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "LIGHT START HOUR": "",
            "LIGHT END HOUR": "",
            "PH MIN": "",
            "PH MAX": "",
            "EC MIN": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "9f1e54ce0835ccc0"
            ]
        ]
    },
    {
        "id": "9f1e54ce0835ccc0",
        "type": "split",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "16bf654adebf74ed",
                "772436b230cf5dfc",
                "f5a2acf98c21b4d1",
                "2e82d129ceab124a",
                "88c5eba773831d76"
            ]
        ]
    },
    {
        "id": "16bf654adebf74ed",
        "type": "function",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "func": "if (msg.parts.key == \"PH MIN\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "c96d492b9401bd8d",
                "c4e1ebc3edd4273c"
            ]
        ]
    },
    {
        "id": "c96d492b9401bd8d",
        "type": "ui_text",
        "z": "281cf02d0b07f8d0",
        "group": "b53e6eb608e76875",
        "order": 7,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "PH MIN",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 60,
        "wires": []
    },
    {
        "id": "772436b230cf5dfc",
        "type": "function",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "func": "if (msg.parts.key == \"PH MAX\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "1d7e58f44be7aeab",
                "14badb865143a5e3"
            ]
        ]
    },
    {
        "id": "1d7e58f44be7aeab",
        "type": "ui_text",
        "z": "281cf02d0b07f8d0",
        "group": "b53e6eb608e76875",
        "order": 8,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "PH MAX",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "f5a2acf98c21b4d1",
        "type": "function",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "func": "if (msg.parts.key == \"EC MIN\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "61bae12fb8488afb",
                "dadfc45f276fcfbe"
            ]
        ]
    },
    {
        "id": "61bae12fb8488afb",
        "type": "ui_text",
        "z": "281cf02d0b07f8d0",
        "group": "b53e6eb608e76875",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "EC MIN",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e82d129ceab124a",
        "type": "function",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "func": "if (msg.parts.key == \"LIGHT START HOUR\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 340,
        "wires": [
            [
                "62aa5317dcb0a3d7",
                "35e0c816561f624d"
            ]
        ]
    },
    {
        "id": "88c5eba773831d76",
        "type": "function",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "func": "if (msg.parts.key == \"LIGHT END HOUR\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 420,
        "wires": [
            [
                "af8f9d070439afd7",
                "8fd4954dc7693d4d"
            ]
        ]
    },
    {
        "id": "62aa5317dcb0a3d7",
        "type": "ui_text",
        "z": "281cf02d0b07f8d0",
        "group": "b53e6eb608e76875",
        "order": 10,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "LIGHT START HOUR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "af8f9d070439afd7",
        "type": "ui_text",
        "z": "281cf02d0b07f8d0",
        "group": "b53e6eb608e76875",
        "order": 11,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "LIGHT END HOUR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "c4e1ebc3edd4273c",
        "type": "mqtt out",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "/PHMINSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9448b41dc166aa0",
        "x": 1370,
        "y": 120,
        "wires": []
    },
    {
        "id": "14badb865143a5e3",
        "type": "mqtt out",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "/PHMAXSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9448b41dc166aa0",
        "x": 1370,
        "y": 220,
        "wires": []
    },
    {
        "id": "dadfc45f276fcfbe",
        "type": "mqtt out",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "/ECMINSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9448b41dc166aa0",
        "x": 1370,
        "y": 320,
        "wires": []
    },
    {
        "id": "35e0c816561f624d",
        "type": "mqtt out",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "/LIGHTSTARTSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9448b41dc166aa0",
        "x": 1390,
        "y": 380,
        "wires": []
    },
    {
        "id": "8fd4954dc7693d4d",
        "type": "mqtt out",
        "z": "281cf02d0b07f8d0",
        "name": "",
        "topic": "/LIGHTENDSTART",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9448b41dc166aa0",
        "x": 1390,
        "y": 440,
        "wires": []
    },
    {
        "id": "d42481c4f45f02b2",
        "type": "ui_spacer",
        "z": "281cf02d0b07f8d0",
        "name": "spacer",
        "group": "b53e6eb608e76875",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "e9448b41dc166aa0",
        "type": "mqtt-broker",
        "name": "Mosquitto Server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b53e6eb608e76875",
        "type": "ui_group",
        "name": "ANT",
        "tab": "56c880fe592b07d0",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "611bbf9ba0fc017a",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "c3vu0xtglv9xs84k9m7exet5oc35xn0vwvvhyy1x0he06213gunwd1b2tsdqxtw3",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "56c880fe592b07d0",
        "type": "ui_tab",
        "name": "Automated Nutrient Technique",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]